<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="all.css">
    <title>Document</title>
</head>
<body>
    <h1>Создать курс</h1>
    <div>Выберите обложку курса</div>
    <input type="file">
    <button>Обновить</button>
    <div>Название</div>
    <input type="text">

    <div class = "alert">Название курса должно быть заполнено</div>

    <div>Автор</div>
    <input type="text">
    <div class="alert">Автор курса должен быть заполнен</div>
    <div></div>
    <button>Сохранить</button>
    <div>Новый урок</div>
    <table>
        <tr>
            <td>Id</td>
            <td>Название</td>
            <td>Action</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Course name</td>
            <td><button>Удалить</button></td>
        </tr>
        <tr><td>No data</td></tr>
    </table>
    <div>Пользователи, связанные с курсом</div>
    <table>
        <tr>
            <td>Id</td>
            <td>Название</td>
            <td>Action</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Username</td>
            <td><button>Снять с курса</button></td>
        </tr>
        <tr><td>No data</td></tr>
    </table>
</body>
</html>