<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="all.css">
</head>
<body>
    <h1>Информация о пользователе</h1>
    <div>Имя пользователя</div>
    <input type="text">
    <div>Пароль</div>
    <input type="text">
    <div class="caution">Пароль не может быть пустым</div>
    <div></div>
    <input type="text">
    <button>Создать</button>
</body>
</html>